.jumbotron {
  padding-top: 6rem;
  background-color: #000000;
  color: #ffffff;
}

#experiences {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}

.no-decoration {
  text-decoration: none;
}

.container1 {
  max-width: 100%;
}
